.input_group {
   margin: 100px 0px;
   .input {
      border: none;
      border-bottom: 2px solid lightgrey;
      width : 100%;
      height: 50px;
      font-size: 30px;
      text-align: center;
      display: block;
   }
   .error_message {
      color: #cc0033;
      font-size: 30px;
      line-height: 30px;
      margin-top: 10px;
      text-align: center;
    }
 }

 .input-group .error-message {
   display: none;
 }

 .error input {
   border-bottom: 2px solid red;
 }

 .error .error-message {
   display: block;
 }
