.menu {
   /* ! */
   display: flex;

   .box {
    position: relative;
    width : 60px;
    height: 34px;
    input {
      display: none;
    }
    input:checked + .text {
      background-color: black;
    }
    input:checked + .text::before {
      transform: translateX(26px)
    }

    .text{
      position: absolute;
      top:0;
      left: 0;
      right:0;
      bottom:0;
      cursor: pointer;
      background-color: grey;
      border-radius: 34px;
      transition: 0.4s;
      &::before {
        content: "";
        width: 26px;
        height: 26px;
        background-color: white;
        position: absolute;
        bottom:4px;
        left: 4px;
        transition: 0.5s;
        border-radius: 50%;
      }
    }
   }
 }

 .switch {
   position: relative;
   width: 60px;
   height: 34px;
   input {
      display: none;
   }
 }
 .slider {
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   position: absolute;
   cursor: pointer;
   background-color: gray;
   border-radius: 34px;
   transition: 0.4s;
   &::before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.5s;
      border-radius: 50%;
    }
 }

 input:checked + .slider {
   background-color: black;
 }

 input:checked + .slider::before {
   /* ! */
   transform: translateX(26px);
 }

 .select_box {
   position: relative;
   margin-left: 60px;
   height: 34px;
   &.select {
      /* ! */
      font-size: 0.9rem;
      /* ! */
      padding: 2px 5px;
      height: 34px;
      width: 200px;
    }
 }
